# Ignore generated/build output
dist/** linguist-generated=true
build/** linguist-generated=true

# De-emphasize TypeScript
*.ts linguist-vendored=true
*.tsx linguist-vendored=true

# Ensure Go is counted
*.go linguist-language=Go